src/main/resources/xsd/emp_details.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://com.tata.hpe"
	targetNamespace="http://com.tata.hpe"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<xs:element name="EmployeeDetailsRequest">
		<xs:complexType>
		<xs:sequence>
			<xs:element name="employeeId" type="xs:string" />
			<xs:element name="employeeName" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	</xs:element>
	<xs:element name="EmployeeDetailsStatus">
		<xs:complexType>
		<xs:sequence>
			<xs:element name="status" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	</xs:element>
</xs:schema>